<a href="https://colab.research.google.com/github/stemgene/Python-Diary/blob/master/Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python基础

### 1.模块与包

### 1.1 date模块

Q1: Given data, calculate this day is which day of this year

In [5]:
import datetime
def dayofyear():
  year = input("Please input year:")
  month = input("Please input month:")
  day = input("Please input day:")
  date1 = datetime.date(year=int(year), month=int(month), day=int(day))
  date2 = datetime.date(year=int(year), month=1, day=1)
  return (date1 - date2).days + 1

date = dayofyear()
print(date)

Please input year:2020
Please input month:10
Please input day:6
280

### 1.2 random

Q2: Shuffle an ordered list

In [6]:
import random
alist = [1,2,3,4,5]
random.shuffle(alist)
print(alist)

[2, 4, 1, 3, 5]

## 2. Data Structure

## 2.1 Sort

### 2.1.1 Sorted vs list.sort()

list.sort()只作用于list，sorted()可以使用在任何数据结构中。默认ascending，如果要descending用`reverse=True`

In [3]:
a = [5, 2, 3, 1, 4]
sorted(a) # 不会影响a
a

[5, 2, 3, 1, 4]

In [12]:
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [5]:
d= {'a':24,'g':52,'i':12,'k':33}
sorted(d)

['a', 'g', 'i', 'k']

### 2.1.2 Key Function

Both sorted and list.sort() 都有key function，可以指定某个类别的排序

In [1]:
s = "This is a test string from AI"
sorted("This is a test string from AI".split())

['AI', 'This', 'a', 'from', 'is', 'string', 'test']

In [7]:
sorted("This is a test string from AI".split(), key=str)

['AI', 'This', 'a', 'from', 'is', 'string', 'test']

In [8]:
sorted("This is a test string from AI".split(), key=str.lower)

['a', 'AI', 'from', 'is', 'string', 'test', 'This']

Q3: 现有字典 d= {'a':24,'g':52,'i':12,'k':33}请按value值进行排序?

此题是比较常见的排序应用，对多个object的特定位排序，需要使用key和lambda

In [2]:
sorted(d.items(), key=lambda x:x[1])

[('i', 12), ('a', 24), ('k', 33), ('g', 52)]

In [10]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]

sorted(student_tuples, key = lambda x: x[2]) # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [11]:
sorted(student_tuples) # 如果不用key，则默认排序第一个元素

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

Q4: 按照age排序 alist = [{'name':'a','age':20},{'name':'b','age':30},{'name':'c','age':25}]

这是又一个层级的嵌套，不能用index去call, 而是需要用到x['key']

In [15]:
alist = [{'name':'a','age':20},{'name':'b','age':30},{'name':'c','age':25}]
sorted(alist, key = lambda x:x['age'])

[{'age': 20, 'name': 'a'}, {'age': 25, 'name': 'c'}, {'age': 30, 'name': 'b'}]

## 2.2 String

Q5: 反转字符串

In [2]:
s[::-1]

'IA morf gnirts tset a si sihT'

## 2.3 Dict

字典推导式

In [ ]:
d = {key: value for (key, value) in itemable}

Q6：str to dict

In [11]:
s = "k:1 |k1:2|k2:3|k3:4"
# s.split('|')   # ['k:1', 'k:2',...]
dict1 = {}

for item in s.split('|'): 
  #print(items)  # item[0]: 'k:1'
  key, value = item.split(':')
  dict1[key] = int(value)
dict1
# 字典推导式，双层
dict2 = {key:value for item in s.split('|') for (key, value) in (item.split(':'),) }
dict2

{'k': '1 ', 'k1': '2', 'k2': '3', 'k3': '4'}