<a href="https://colab.research.google.com/github/stemgene/Python-Diary/blob/master/Pandas_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Create DadaFrame

# 2. Edit DadaFrame

#### Delete certain row

In [0]:
cluster_df.drop(cluster_df.index[cluster_df['Neighbourhood'] == 'PARQUE INDUSTRIAL'], inplace = True)

### Insert columns

In [0]:
df.insert(6, "Date Difference", date_difference)

# 3. Select from DataFrame

### Iterate rows and columns
https://thispointer.com/pandas-loop-or-iterate-over-all-or-certain-columns-of-a-dataframe/

In [0]:
    Name  Age      City
a   jack   34    Sydney
b   Riti   31     Delhi
c   Aadi   16  New York
d  Mohit   32     Delhi

# Iterate over two given columns only from the dataframe
for column in df[['Name', 'City']]:
   # Select column contents by column name using [] operator
   columnSeriesObj = df[column]
   print('Colunm Name : ', column)
   print('Column Contents : ', columnSeriesObj.values)

"""Outputs:
Colunm Name :  Name
Column Contents :  ['jack' 'Riti' 'Aadi' 'Mohit']
Colunm Name :  City
Column Contents :  ['Sydney' 'Delhi' 'New York' 'Delhi']
"""

Find values with conditions

In [0]:
  New_Visit	Noshow_rate
35  	0	        1.0
36   	1	        0.0
37	  1	        0.0
38	  0	        1.0
39	  1	        0.0
40    0         0.0

status = []
for index, row in noshowdf.iterrows(): 
"""
index = 0, 
row = 
New_Visit 1 
Noshow_rate 0
If want specific value or row, can use either 
row["New_Visit"] or
row[0]
"""
  if row[0] == 1: 
    status.append('New Patient')
  else:
    if row[1] == 0.0:
      status.append('Well-behaved Patient')
    else: # noshow_rate > 0
      status.append("have no show history patient")

"""Outputs:
['have no show history patient',
 'New Patient',
 'New Patient',
 'have no show history patient',
 'New Patient',
 'Well-behaved Patient']
 """

# 4. Cell's Value operation

### Groupby

In [0]:
  New_Visit	Noshow_rate	Status
37	1	          0.0	    New Patient
38	0	          1.0	    have no show history patient
39	1	          0.0	    New Patient

noshowdf.groupby("Status").count()

"""Outputs:
Status	                        New_Visit	Noshow_rate
New Patient	                       61858	61858
Well-behaved Patient	             28291	28291
have no show history patient	     14191	14191
"""