<a href="https://colab.research.google.com/github/stemgene/Python-Diary/blob/master/Pandas_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create DadaFrame

# Edit DadaFrame

#### Delete certain row

In [0]:
cluster_df.drop(cluster_df.index[cluster_df['Neighbourhood'] == 'PARQUE INDUSTRIAL'], inplace = True)

### Insert columns

# Select from DataFrame

### Iterate rows and columns
https://thispointer.com/pandas-loop-or-iterate-over-all-or-certain-columns-of-a-dataframe/

In [0]:
    Name  Age      City
a   jack   34    Sydney
b   Riti   31     Delhi
c   Aadi   16  New York
d  Mohit   32     Delhi

# Iterate over two given columns only from the dataframe
for column in df[['Name', 'City']]:
   # Select column contents by column name using [] operator
   columnSeriesObj = df[column]
   print('Colunm Name : ', column)
   print('Column Contents : ', columnSeriesObj.values)

"""Outputs:
Colunm Name :  Name
Column Contents :  ['jack' 'Riti' 'Aadi' 'Mohit']
Colunm Name :  City
Column Contents :  ['Sydney' 'Delhi' 'New York' 'Delhi']
"""